<div class="flex items-center">
    <!-- Foto User Bulat -->
    <div class="overflow-hidden mr-4">
        <img src="https://via.placeholder.com/150" alt="Foto User" class="w-12 h-12 rounded-full">
    </div>

    <!-- Informasi User -->
    <div class="w-full">
        <div class="flex mb-3">
            <div class="flex-1">Email:</div>
            <div class="flex-1 font-medium">34343434444</div>
        </div>
        <div class="flex mb-3">
            <div class="flex-1">Brand:</div>
            <div class="flex-1 font-medium">MINE</div>
        </div>
        <div class="flex mb-3">
            <div class="flex-1">Country:</div>
            <div class="flex-1 font-medium">CONGO</div>
        </div>
        <div class="flex mb-3">
            <div class="flex-1">City:</div>
            <div class="flex-1 font-medium">Likasi</div>
        </div>
        <div class="flex mb-3">
            <div class="flex-1">Commodity:</div>
            <div class="flex-1 font-medium">Gold</div>
        </div>
        <div class="flex mb-3">
            <div class="flex-1">Creation Date:</div>
            <div class="flex-1 font-medium">12, June, 2024 12pm</div>
        </div>
        <div class="flex mb-3">
            <div class="flex-1">Last Update:</div>
            <div class="flex-1 font-medium">12, June, 2024 12pm</div>
        </div>
    </div>
</div>